---
import AboutCard from "@/components/AboutUsCards.astro";
import { getEntry } from 'astro:content';

const contentData = await getEntry('aboutus', 'aboutus');

interface about {
  class?: string;
  name?: string;
  role?: string;
  imageAlt?: string;
  imageSrc?: ImageMetadata;
  certifications?: string[];
}
---

<section class="bg-back-texture bg-repeat">
  <section 
    class={`
    px-4 pt-6 pb-8 
    flex flex-col items-center gap-10 
    lg:flex-row lg:flex-wrap lg:gap-4 lg:px-4 lg:justify-center
    xl:px-0 xl:gap-6
    2xl:px-44 2xl:flex-nowrap
    `}
  >
    {contentData.data.about.map((about: about) => (
      <AboutCard
        class=""
        name={about.name}
        role={about.role}
        imageAlt={about.imageAlt}
        imageSrc={about.imageSrc}
        certifications={about.certifications}
      />
    ))}
  </section>
</section>