---
import Card from "@/components/CardClassOverview.astro";
import { getEntry } from 'astro:content';

const contentData = await getEntry('home', 'home');

interface yogaclass {
  class?: string;
  src?: ImageMetadata;
  title?: string;
  description?: string;
  alt?: string;
  link?: string;
}
---

<section 
  class={`
  px-4 pt-4 py-8 
  bg-back-texture bg-repeat flex flex-col gap-8 
  md:px-16 
  lg:flex-row lg:flex-wrap lg:gap-4 lg:px-4 lg:justify-center 
  xl:px-0 xl:gap-6
  2xl:gap-6 2xl:px-44 2xl:flex-nowrap
  `}
>
  {contentData.data.classes.map((yogaclass: yogaclass) => (
    <Card
      class=""
      src={yogaclass.src}
      title={yogaclass.title}
      description={yogaclass.description}
      alt={yogaclass.alt}
      link={yogaclass.link}
    />
  ))}
</section>